test-repository-app/src/main/mule/test-repository-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="81f013f2-5c46-42b9-b588-e21078bae44a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-repository-appFlow" doc:id="dd579db3-0c7c-4f88-9466-985b8baf228d" >
		<http:listener doc:name="Listener" doc:id="af4c52bf-56dc-4ab9-816d-b3291a021def" config-ref="HTTP_Listener_config" path="/testRepository"/>
		<set-payload value="myfirst repository commit" doc:name="Set Payload" doc:id="55e5a8e8-ccd2-4ff8-ad95-eaf6aec387d4" />
		<logger level="INFO" doc:name="Logger" doc:id="93ce0086-2e2b-4d99-aa8d-06890305229a" message="#[payload]"/>
	</flow>
</mule>
